.footer-container {
    background-color: #000000;
    color: white;
    padding: 10px;
    text-align: center;
    border-top: 2px solid rgb(221, 199, 73); /* Añade un borde blanco de 2px al contenedor del logotipo */

  }